@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  /* Headline */
  --text-headline-medium-font-family: "Roboto";
  --text-headline-medium-font-weight: 500;
  --text-headline-medium-font-size: 28px;
  --text-headline-medium-line-height: 36px;
  --text-headline-medium-letter-spacing: 0px;

  --text-headline-small-font-family: "Roboto";
  --text-headline-small-font-weight: 500;
  --text-headline-small-font-size: 24px;
  --text-headline-small-line-height: 32px;
  --text-headline-small-letter-spacing: 0px;

  /* Title */
  --text-title-large-font-family: "Roboto";
  --text-title-large-font-weight: 500;
  --text-title-large-font-size: 22px;
  --text-title-large-line-height: 26px;
  --text-title-large-letter-spacing: 0px;

  --text-title-medium-font-family: "Roboto";
  --text-title-medium-font-weight: 500;
  --text-title-medium-font-size: 16px;
  --text-title-medium-line-height: 20px;
  --text-title-medium-letter-spacing: 0.15px;

  --text-title-small-font-family: "Roboto";
  --text-title-small-font-weight: 500;
  --text-title-small-font-size: 14px;
  --text-title-small-line-height: 18px;
  --text-title-small-letter-spacing: 0.1px;

  /* Label */
  --text-label-large-font-family: "Roboto";
  --text-label-large-font-weight: 500;
  --text-label-large-font-size: 14px;
  --text-label-large-line-height: 18px;
  --text-label-large-letter-spacing: 0.1px;

  --text-label-medium-font-family: "Roboto";
  --text-label-medium-font-weight: 500;
  --text-label-medium-font-size: 12px;
  --text-label-medium-line-height: 14px;
  --text-label-medium-letter-spacing: 0.5px;

  --text-label-medium-bold-font-family: "Roboto";
  --text-label-medium-bold-font-weight: 700;
  --text-label-medium-bold-font-size: 12px;
  --text-label-medium-bold-line-height: 12px;
  --text-label-medium-bold-letter-spacing: 0.5px;

  --text-label-small-font-family: "Roboto";
  --text-label-small-font-weight: 500;
  --text-label-small-font-size: 11px;
  --text-label-small-line-height: 14px;
  --text-label-small-letter-spacing: 0.5px;

  /* Body */
  --text-body-large-font-family: "Roboto";
  --text-body-large-font-weight: 400;
  --text-body-large-font-size: 16px;
  --text-body-large-line-height: 20px;
  --text-body-large-letter-spacing: 0.5px;

  --text-body-medium-font-family: "Roboto";
  --text-body-medium-font-weight: 400;
  --text-body-medium-font-size: 14px;
  --text-body-medium-line-height: 18px;
  --text-body-medium-letter-spacing: 0.25px;

  --text-body-small-font-family: "Roboto";
  --text-body-small-font-weight: 400;
  --text-body-small-font-size: 12px;
  --text-body-small-line-height: 12px;
  --text-body-small-letter-spacing: 0.4px;

  /* Link */
  --text-link-large-font-family: "Roboto";
  --text-link-large-font-weight: 500;
  --text-link-large-font-size: 16px;
  --text-link-large-line-height: 20px;
  --text-link-large-letter-spacing: 0.5px;

  --text-link-medium-font-family: "Roboto";
  --text-link-medium-font-weight: 500;
  --text-link-medium-font-size: 14px;
  --text-link-medium-line-height: 18px;
  --text-link-medium-letter-spacing: 0.25px;
}
